<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings />
  <appSettings>
    <!-- Connect SQL SERVER -->
    <!--
          <add key="ConnectionString_KREST" value="KONDATE_AOT-PC\SQLEXPRESS;UID=;PASSWORD=;DATABASE=KREST;Max Pool Size=400;Connect Timeout=600;"/>
          -->
    <!---->
    <!-- สำหรับเข้ารหัสฐานข้อมูล //////////////////////////////////-->
    <add key="SecurityKey" value="Syed Moshiur Murshed" />
    <!--////////////////////////////////////////////////////-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    
  </appSettings>
  
  
    <startup useLegacyV2RuntimeActivationPolicy="true">
          <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
         <!-- KONDATE_AOT-PC\SQLEXPRESS -->
  </startup>
  
  <system.web>
    
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    
  </system.web>

</configuration>